#navigation {
  position: fixed;
  top: 0;
  right: 0;
  margin-top: 1vh;
  margin-right: 1vh;
}

#instructions {
  text-align: center;
  align-items: center;
  justify-content: center;
  display: flex;
  height: 100vh;
}

#results {
  margin: 0 5%;
}

.bench {
  margin-top: 5vh;
  text-align: center;
}

.charts {
  display: flex;
}

.column {
  width: 50%;
}

.crop {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1vh;
}

.input {
  margin: 0 1%;
  border-width: 0.1rem;
  border-style: solid;
}

#comparisons {
  margin-top: 5vh;
  text-align: center;
}

select option:checked {
  background-color: rgb(0, 191, 255) !important;
  color: white;
}

.chart-metric:focus-visible, #metric:focus-visible {
  outline: 0 !important;
}

#metric, .chart-metric {
  overflow: visible;
  height: 1.4rem;
}

#metric > option, .chart-metric > option {
  display: table-cell;
  padding: 0 0.8rem 0 0.8rem;
}

#metric, .input, .chart-metric {
  border-color: var(--bs-gray-400);
}

.chart-metric {
  position: absolute;
  right: 5%;
}

#readme {
  margin-top: 5%;
}

