#navigation {
  position: fixed;
  top: 0;
  right: 0;
  margin-top: 1vh;
  margin-right: 1vh;
}

#instructions {
  text-align: center;
  align-items: center;
  justify-content: center;
  display: flex;
  height: 100vh;
}

#results {
  margin: 0 5%;
}

.bench {
  margin-top: 5vh;
  text-align: center;
}

.charts {
  display: flex;
}

.column {
  width: 50%;
}

#comparisons {
  display: flex;
  margin-top: 5vh;
}

#metric {
  overflow: auto !important;
  border-color: var(--bs-gray-400);
}

