.text {
  font-weight: 900;
  color: white;
  font-size: 1.2rem;
  -webkit-text-stroke: 1px black;
}

.wordBreak {
  word-break: break-all;
}

.smallerText {
  font-weight: 900;
  color: white;
  -webkit-text-stroke: 1px black;
}
